*,
*::before,
*::after {
	box-sizing: border-box;
	font-weight: normal;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
	padding: 0;
	margin: 0;
	background: hsl(222, 26%, 31%);
}

.calculator {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(6, 100px);
	.header {
		grid-column: 1/-1;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 1rem;
		color: hsl(0, 0, 100%);
		.title {
			font-size: 2rem;
		}
		.theme {
			display: flex;
			align-items: flex-end;

			.theme-chooser {
				padding-left: 1rem;
			}
			.options {
				display: flex;
				justify-content: space-between;
				margin: 0 3px 3px 3px;
				font-size: 0.9rem;
				p {
					margin: 0;
				}
			}
			.slider {
				background-color: hsl(223, 31%, 20%);
				border-radius: 40px;
				width: 45px;
			}
			.slider-ball {
				height: 15px;
				width: 15px;
				background-color: #bbb;
				border-radius: 50%;
				background-color: hsl(6, 63%, 50%);
			}
		}
	}
	button {
		cursor: pointer;
		font-size: 2rem;
		border: 1px solid black;
		background-color: rgba(255, 255, 255, 0.75);
		color: hsl(221, 14%, 31%);
		&:hover {
			background-color: hsl(30, 25%, 89%);
			box-shadow: hsl(28, 16%, 65%);
		}
	}
	.span-2 {
		grid-column: span 2;
	}
	.single-color {
		background-color: hsl(6, 63%, 50%);
		box-shadow: hsl(6, 70%, 34%);
		color: hsl(0, 0, 100%);
	}
	.double-color {
		background-color: hsl(225, 21%, 49%);
		box-shadow: hsl(224, 28%, 35%);
		color: hsl(0, 0, 100%);
	}
	.output {
		grid-column: 1/-1;
		background-color: hsl(224, 36%, 15%);
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		justify-content: space-around;
		word-wrap: break-word;
		word-break: break-all;
		padding: 0.5rem;
		.previous-input {
			color: skyblue;
		}
		.current-input {
			font-size: 2.5rem;
			color: white;
		}
	}
}
